**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/*.user
**/*.suo
**/.github
**/docs
**/img
**/LICENSE
**/README.md
**/README-RU.md
**/CONTRIBUTING.md
**/CHANGELOG.md
**/QuickStart.md
**/.opencode
**/tests
