**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/*.user
**/*.suo
**/.github
**/docs
**/img
**/LICENSE
**/README.md
**/README-RU.md
**/CONTRIBUTING.md
**/CHANGELOG.md
**/QuickStart.md
**/.opencode
**/tests
**/.bench
# Node — the WebUI's local install must never enter the build context, or every
# `docker compose build` ships hundreds of megabytes it does not need.
**/node_modules
**/.nuxt
**/.output
**/dist
**/.data
